#randomWord {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0%;
}

#wordDefinition {
    font-size: 30px;
    margin-bottom: 1%;
    margin-top: 0%;
}

.btn {
    font-family: inherit !important;
    font-size: 20px;
}

p {
    color: #ffffff;
}

#animCheck {
	display: inline-block;
}

input {
    font-size: 30px;
	tcolor: #ffffff;
    margin-bottom: 1%;
    margin-top: 0%;
	font-family: 'Roboto Slab', serif;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #353232 !important;
}